<ul class="list-inline">
{% if page.language == "en" or page.language == "fr" %}
	<li><a href="http://{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-health-url }}"><span>{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-health }}</span></a></li>
	<li><a href="http://{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-travel-url }}"><span>{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-travel }}</span></a></li>
	<li><a href="http://www.servicecanada.gc.ca/{{ i18n-base[ page.language ].lang-code-iso-639-2 }}/{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-home-url }}.shtml"><span>{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-servicecanada }}</span></a></li>
	<li><a href="http://www.{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-jobs-url }}"><span>{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-jobs }}</span></a></li>
	<li><a href="http://{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-economy-url }}/{{ page.language }}"><span>{{ i18n-theme-gcwu-fegc[ page.language ].tmpl-economy }}</span></a></li>
{% endif %}
	<li id="canada-ca"><a href="http://www.canada.ca/{% if page.language == 'en' or page.language == 'fr' %}{{ page.language }}/index.html{% endif %}">Canada.ca</a></li>
</ul>