<div id="wb-foot"><div id="wb-foot-in"><footer><h2{% if page.secondary_menu == false %}{% elsif site.secondary_menu == false and page.secondary_menu != true %}{% else %} id="wb-nav"{% endif %}>Pied de page</h2>
<!-- FooterStart -->
<nav role="navigation"><div id="gcwu-sft"><h3>Pied de page du site</h3><div id="gcwu-sft-in">
<div id="gcwu-tctr">
<ul>
<li class="gcwu-tc"><a href="#" rel="license">Avis</a></li>
<li class="gcwu-tr"><a href="#">Transparence</a></li>
</ul>
</div>
<div class="clear"></div>
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="#">À propos de nous</a></h4>
<ul>
<li><a href="#">Notre mandat</a></li>
<li><a href="#">Le ministre</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="#">Contactez-nous</a></h4>
<address>
<ul>
<li><a href="#">Numéros de téléphone</a></li>
<li><a href="#">Nos bureaux</a></li>
</ul>
</address>
</div></section>
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="#">Nouvelles</a></h4>
<ul>
<li><a href="#">Communiqués</a></li>
<li><a href="#">Avix aux médias</a></li>
<li><a href="#">Multimédia</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="#">Restez branchés</a></h4>
<ul>
<li><a rel="external" href="#">YouTube</a></li>
<li><a rel="external" href="#">Twitter</a></li>
<li><a href="#">Flux</a></li>
</ul>
</div></section>
</div></div></nav>

<nav role="navigation"><div id="gcwu-gcft"><h3>Pied de page du gouvernement du Canada</h3><div id="gcwu-gcft-in"><div id="gcwu-gcft-fip">
<ul>
<li><a rel="external" href="http://canadiensensante.gc.ca/index-fra.php"><span>Santé</span><br />canadiensensante.gc.ca</a></li>
<li><a rel="external" href="http://www.voyage.gc.ca/index-fra.asp"><span>Voyage</span><br />voyage.gc.ca</a></li>
<li><a rel="external" href="http://www.servicecanada.gc.ca/fra/accueil.shtml"><span>Service Canada</span><br />servicecanada.gc.ca</a></li>
<li><a rel="external" href="http://www.guichetemplois.gc.ca/Intro-fra.aspx"><span>Emplois</span><br />guichetemplois.gc.ca</a></li>
<li><a rel="external" href="http://plandaction.gc.ca/fr"><span>Économie</span><br />plandaction.gc.ca</a></li>
<li id="gcwu-gcft-ca"><div><a rel="external" href="http://www.canada.gc.ca/menu-fra.html">Canada.gc.ca</a></div></li>
</ul>
</div></div></div></nav>
<!-- FooterEnd -->
</footer>
</div></div></div>

<!-- ScriptsStart -->
<script src="http://wet-boew.github.io/wet-boew/dist/js/settings.js"></script>
<!--[if lte IE 8]>
<script src="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/js/theme-ie-min.js"></script>
<script src="http://wet-boew.github.io/wet-boew/dist/js/pe-ap-ie-min.js"></script>
<script src="http://wet-boew.github.io/wet-boew/dist/js/jquerymobile/jquery.mobile-ie.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/js/theme-min.js"></script>
<script src="http://wet-boew.github.io/wet-boew/dist/js/pe-ap-min.js"></script>
<script src="http://wet-boew.github.io/wet-boew/dist/js/jquerymobile/jquery.mobile.min.js"></script>
<!--<![endif]-->
<!-- ScriptsEnd -->

<!-- CustomScriptsStart -->
<script src="http://wet-boew.github.io/wet-boew-jekyll/assets/javascripts/global.js"></script>
{% if page.script_src and page.script_src contains '.js' %}
<link rel="stylesheet" href="{{ page.script_src }}" />
{% endif %}
<!-- CustomScriptsEnd -->
</body>
</html>