<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-eng.html / wet-boew.github.io/wet-boew/Licence-fra.html -->
<title>{% unless page.url == '/index-en.html' %}{{ page.title }} - {% endunless %}{{ site.title_en }}</title>

<link rel="shortcut icon" href="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/images/favicon.ico" />
<meta name="description" content="{% if page.description and page.description != '' %}{{ page.description }}{% else %}{{ site.description_en }}{% endif %}" />
<meta name="dcterms.creator" content="{{ page.creator }}" />
<meta name="dcterms.title" content="{{ page.title }}" />
<meta name="dcterms.issued" title="W3CDTF" content="{{ page.issued }}" />
<meta name="dcterms.modified" title="W3CDTF" content="{{ page.modified }}" />
<meta name="dcterms.subject" title="scheme" content="{{ page.subject }}" />
<meta name="dcterms.language" title="ISO639-2" content="eng" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lte IE 8]>
<script src="http://wet-boew.github.io/wet-boew/dist/js/jquery-ie.min.js"></script>
<script src="http://wet-boew.github.io/wet-boew/dist/js/polyfills/html5shiv-min.js"></script>
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/grids/css/util-ie-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/js/css/pe-ap-ie-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/css/theme-ie-min.css" />
<noscript><link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/css/theme-ns-ie-min.css" /></noscript>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="http://wet-boew.github.io/wet-boew/dist/js/jquery.min.js"></script>
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/grids/css/util-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/js/css/pe-ap-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/css/theme-min.css" />
<noscript><link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/css/theme-ns-min.css" /></noscript>
<!--<![endif]-->

<!-- CustomCSSStart -->
{% if page.css_href and page.css_href contains '.css' %}
<link rel='stylesheet' href='{{ page.css_href }}' />
{% endif %}
<!-- CustomCSSEnd -->
</head>

<body><div id="wb-body{% if page.secondary_menu == false %}{% elsif site.secondary_menu == false and page.secondary_menu != true %}{% elsif site.secondary_menu == true or page.secondary_menu == true %}-sec{% endif %}">
<div id="wb-skip">
<ul id="wb-tphp">
<li id="wb-skip1"><a href="#wb-cont">Skip to main content</a></li>
<li id="wb-skip2"><a href="#wb-nav">Skip to {% if page.secondary_menu == false %}footer{% elsif site.secondary_menu == false and page.secondary_menu != true %}footer{% else %}secondary menu{% endif %}</a></li>
</ul>
</div>

<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<nav role="navigation"><div id="gcwu-gcnb"><h2>Government of Canada navigation bar</h2><div id="gcwu-gcnb-in"><div id="gcwu-gcnb-fip">
<div id="gcwu-sig"><div id="gcwu-sig-in"><object data="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/images/sig-eng.svg" role="img" tabindex="-1" aria-label="Government of Canada" type="image/svg+xml"><img src="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/images/sig-eng.png" alt="Government of Canada" /></object></div></div>
<ul>
<li id="gcwu-gcnb1"><a rel="external" href="http://www.canada.gc.ca/menu-eng.html">Canada.gc.ca</a></li>
<li id="gcwu-gcnb2"><a rel="external" href="http://www.servicecanada.gc.ca/eng/home.shtml">Services</a></li>
<li id="gcwu-gcnb3"><a rel="external" href="http://www.canada.gc.ca/aboutgov-ausujetgouv/depts/menu-eng.html">Departments</a></li>
{% if page.languages == false %}{% elsif site.languages == false and page.languages != true %}
{% else %}
<li id="gcwu-gcnb-lang"><a href="{{ page.filename_root }}-fr.html" lang="fr">Français</a></li>
{% endif %}
</ul>
</div></div></div></nav>

<div id="gcwu-bnr" role="banner"><div id="gcwu-bnr-in">
<div id="gcwu-wmms"><div id="gcwu-wmms-in"><object data="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/images/wmms.svg" role="img" tabindex="-1" aria-label="Symbol of the Government of Canada" type="image/svg+xml"><img src="http://wet-boew.github.io/wet-boew/dist/theme-gcwu-fegc/images/wmms.png" alt="Symbol of the Government of Canada" /></object></div></div>
<div id="gcwu-title"><p id="gcwu-title-in"><a href="http://wet-boew.github.io/wet-boew/index-eng.html">Web Experience Toolkit&#160;(WET)</a></p></div>
{% if page.search == false %}{% elsif site.search == false and page.search != true %}
{% else %}

<section role="search"><div id="gcwu-srchbx"><h2>Search</h2>
<form action="#" method="post"><div id="gcwu-srchbx-in">
<label for="gcwu-srch">Search website</label><input id="gcwu-srch" name="gcwu-srch" type="search" value="" size="27" maxlength="150" />
<input id="gcwu-srch-submit" name="gcwu-srch-submit" type="submit" value="Search" />
</div></form>
</div></section>
{% endif %}
</div>
{% if page.subsite == false %}{% elsif site.subsite == false and page.subsite != true %}
{% elsif site.subsite == true or page.subsite == true %}
<div id="gcwu-subsite" class="gcwu-subsite-1">
<p><a href="{{ page.subsite_url }}">{{ page.subsite_name }}</a></p>
</div>
{% endif %}
</div>
{% if page.site_menu == false %}{% elsif site.site_menu == false and page.site_menu != true %}
{% elsif site.site_menu == true or page.site_menu == true %}
{% assign site_menu = true %}
{% endif %}
{% if page.breadcrumb == false %}{% elsif site.breadcrumb == false and page.breadcrumb != true %}
{% elsif site.breadcrumb == true or page.breadcrumb == true %}
{% assign breadcrumb = true %}
{% endif %}
{% if site_menu == true and breadcrumb == true %}

<nav role="navigation">
{% if site_menu == true %}
{% include sitemenu-theme-gcwu-fegc-en.html %}
{% endif %}
{% if breadcrumb == true %}
{% include breadcrumb-theme-gcwu-fegc-en.html %}
{% endif %}
</nav>
{% endif %}
<!-- HeaderEnd -->
</header></div></div>