{% if page.url contains 'gcweb' %}
<div class="row">
	<div class="col-md-12">
		<ul class="list-inline margin-bottom-none">
			<li><a lang="{{ page.language }}" href="{{ page.altLangPrefix }}-{{ page.language }}.html">{{ i18n.lang-native }}</a></li>
		</ul>
	</div>
</div>
{% elsif page.url contains 'theme-gcwu-fegc' %}
<h2>{{{i18n "tmpl-lang-select"}}}</h2>
<ul class="list-inline">
	<li><a lang="{{ page.language }}" href="{{ page.altLangPrefix }}-{{ page.language }}.html">{{ i18n.lang-native }}</a></li>
</ul>
{% elsif page.url contains 'theme-gc-intranet' %}
<h2>{{ i18n.tmpl-lang-select }}</h2>
<ul class="list-inline">
	<li><a lang="{{ page.language }}" href="{{ page.altLangPrefix }}-{{ page.language }}.html">{{ i18n.lang-native }}</a></li>
</ul>
{% else %}
<ul class="text-right">
	{% if page.language == 'en' %}
	<li>
		<a lang="fr" hreflang="fr" href="{{ page.altLangPrefix }}-fr.html">{{ i18n.lang-native.fr }}</a>
	</li>
	<li class="curr">{{ i18n.lang-native" }}{{ i18n.space }}<span>{{ i18n.current }}</span></li>
	{% elsif page.language == 'fr' %}
	<li class="curr">{{ i18n.lang-native" }}{{ i18n.space }}<span>{{ i18n.current }}</span></li>
	<li>
		<a lang="en" hreflang="en" href="{{ page.altLangPrefix }}-en.html">{{ i18n.lang-native.en }}</a>
	</li>
	{% endif %}
</ul>
{% endif %}
